.checkbox{
  transform: scale(1.5);
}
input.ng-invalid.ng-touched{
  border:2px solid red;

}

.centered {
  position: relative;
  top: 85px;
  left: 50%;
  margin-left: 50px;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.passwordmismatch{
    border:2px solid red;

}
