<div class="row mb-3">
  <div class="col-4 "></div>
  <div class="col-8">
<div class="container">
  <form action="" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="username"> Username </label>
          <input type="text"
          class="form-control text-center"
          ngModel
          name="username"
          required >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 ">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"
          class="form-control"
          ngModel
          name="password"
          required>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!loginMode">
      <div class="col-md-6 ">
        <div class="form-group">
          <label for="password">Re-enter Password</label>
          <input type="password"
          [ngClass]="{passwordmismatch:f.value.password!==f.value.rpassword}"
          class="form-control"
          ngModel
          name="rpassword"
          required

          >
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!loginMode">
      <div class="col-md-6 ">
        <div class="form-group">
          <label for="Address">Address</label>
          <input type="text"
          class="form-control"
          ngModel
          name="address"
          >
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-6">
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid || (f.value.password!==f.value.rpassword && loginMode===false) ">{{message}}</button>

    </div>
    </div>
    <div *ngIf="wrongCredentials" class="row text-center">
      <div class="col-md-6">
    <h5 class="alert alert-danger mt-3">Wrong Credentials</h5>

    </div>
    </div>
 </form>



</div>

</div>
</div>

<h5 class="text-center ml-3 mt-100">OR</h5>
<div class=" text-center  ml-3" >

    <a class="btn btn-primary text-white" (click)="demoLogin()" >Login as DemoUser</a>
  </div>
