
<div class="container text-center mt-2">
  <h3 class="alert  bg-dark text-white">Cart Summary</h3>
  <h4 *ngIf="items.length===0" class="mt-5 alert alert-warning"> cart is empty</h4>
     <table *ngIf="items.length>0" class="table table-hover ">
    <thead class="thead-dark">
      <tr >
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let book of items">
        <td>
          <div class="thumbnail">
          <img src="{{ book.imageUrl }}" width="270" height="300" />
        </div>
        </td>
        <td class="align-middle">{{book.unitPrice | currency:'INR'}}</td>
        <td class="align-middle"><span (click)="deleteOne(book)"><i class="fas fa-minus-circle"></i></span> &nbsp;
          {{book.quantity}} &nbsp;
          <span (click)="addOne(book)"><i class="fas fa-plus-circle"></i></span>
        </td>
      </tr >
      <tr *ngIf="items.length>0" class="font-weight-bold">


      <td class="align-middle "> Total </td>
      <td class="align-middle">{{ totalPrice | currency:'INR'}}</td>
      <td class="align-middle"> {{totalQuantity}}</td>


      </tr>
    </tbody>

  </table>





</div>
